#container{
    background-image: linear-gradient(30deg,blue,cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 410px;
    padding-right: 410px;
    padding-bottom: 410px;
}

#padrediv{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

div{
    display: flex;
    justify-items: end;
}

#segundo{
    width: 70%;
    margin-left: 25%;
    background-color: grey;
}

#segundo img{
    width: 180px;
    height: 150px;
}

p{
    margin-left: 4%;
}

img{
    width: 200px;
    height: 170px;
}